h1 {
    background: darkblue;
    border: 1px solid darkblue;
    text-align: center;
    
    
}
main {
    display: grid;
    grid-template-columns: 210px 1fr 210px;
    justify-content: center;
}

 .images {

height: 160px;
width: 160px;
text-align: center;

height: 200px;
width: 200px;
margin-left: 50px;
margin-right: 50px;

display: flex;
flex-direction: row;






margin-top: 100px;
margin-right: 90px;

}



main > #leftnav {
    background: lightskyblue;
    border: 1px solid lightskyblue;
    text-align: center;
    order: 1;
    display: grid;
    grid-column-start: 1;
    width: 250px;
    grid-row-start: 1;
    grid-row-end: 5;
    height: 520px;
    font-size: 24px;
}

section {
    background: darkblue;
    border: 1px solid lightsalmon;
    display: flex;
    flex-direction: row;
    height: 520px;
    order: 2;
    font-size: 28px;
    justify-content: center;
}
main > #rightdiv {
    background: lightskyblue;
    border: 1px solid lightskyblue;
    text-align: center;
    order: 3;
    display: grid;
    height: 520px;
    font-size: 28px;
    justify-content: center;
    width: 220px;
    
}


footer {
    background: lightsteelblue;
    border: 1px solid lightskyblue;
    text-align: center;
    position: fixed;
    width: 1350px;
}

.deck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}